@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-gradient {
    background: rgb(106,0,246);
    background: linear-gradient(342deg, rgba(106,0,246,1) 10%, rgba(41,207,194,1) 88%);
}
.img-dev {
    max-width: 250px;
    box-shadow: 0px 0px 12px #00dff8;
}